* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*hero section*/
.hero {
    background-color: #414f6b;
    background-image: url("../assets/img/clouds.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100vh;
    position: relative;
}

.nav {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px 0;
}

#logo {
    width: 50px;
    height: 50px;
    outline: #bcc3c6 solid 1px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav-link {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fefeff;
    margin-right: 20px;
    height: auto;
}

.mountainsImg {
    position: relative;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 2;
}

.hero-title {
    font-family: 'bebas_neue', sans-serif;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero-title1 {
    font-size:150px;
    color: #4d4d4d;
    margin-bottom: -50px;
}

.hero-title2 {
    font-size: 162px;
    color: #414f6b;
}

@media (max-width: 768px) {
    .hero-title {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .hero-title1 {
        font-size: 19vw;
        color: #4d4d4d;
        margin-bottom: -6.5vw;
    }

    .hero-title2 {
        font-size: 20.9vw;
        color: #414f6b;
    }
}


/*sticky nav*/
.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #fefeff;
    z-index: 10;
}

.sticky-logo {
    display: flex;
}

.sticky-link {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 1px;
    color: #414f6b;
    margin-right: 20px;
    height: auto;
}

.nav-title {
    font-family: 'bebas_neue', sans-serif;
    letter-spacing: 1px;
}

.los-angeles {
    color: #4d4d4d;
    font-size: 27px;
    margin: 0 10px -10px;
}

.mountains {
    color: #414f6b;
    font-size: 29px;
    margin: -10px 10px 0;
}

/*sections*/
.section-content {
    max-width: 1000px;
    margin: 0 auto;
}

.section-titles {
    font-family: 'oswald', sans-serif;
    color: #414f6b;
    display: flex;
    margin: 0;
    padding: 0;
}

.section-num {
    font-size: 135px;
    letter-spacing: -5px;
    color: rgba(65, 79, 107, 50%);
}

.section-title {
    font-size: 32px;
    margin-top: -115px;
    padding-left: 5px;
}

/*section 1*/
.section-1 {
    background-color: #fefeff;
    background-image: url("../assets/img/bg1.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    scroll-margin-top: 73.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section1-paragraph {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    padding: 0 75px;
    margin-top: -45px;
}

/*carousel*/
.carousel-section {
    background-color: rgba(65, 79, 107, 75%);
}

.wrapper {
    margin: 20px auto;
}

.wrapper .carousel {
    max-width: 1000px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel img {
    height: 135px;
    object-fit: cover;
    margin: 0 5px;
    width: calc(95% / 4);
    cursor: pointer;
}

.carousel-control {
    display: flex;
    justify-content: center;
    margin: 5px auto 0;
}

.carousel-control i {
    margin: 0 5px;
    height: 7px;
    width: 7px;
    background-color: #fefeff;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .carousel img {
        width: calc(95% / 3);
    }
}

@media screen and (max-width: 650px) {
    .carousel img {
        width: calc(95% / 2);
    }
}

@media screen and (max-width: 420px) {
    .carousel img {
        width: calc(95%);
    }
}


/*section 2*/
.section-2 {
    scroll-margin-top: 73.5px;
}

.section2-paragraph {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    padding: 20px 40px;
    margin: auto 0;
}

.section2-paragraph-sm {
    display: none;
}

@media screen and (max-width: 420px) {
    .section-titles{
        justify-content: center;
    }

    .section2-paragraph {
        display: none;
    }

    .section2-paragraph-sm {
        display: block;
        padding: 0 50px 40px;
        margin-top: -40px;
    }
}

/*tabs*/

.tab-container {
    width: 100vw;
    background-color: #414f6b;
}

.tabs-list {
    list-style-type: none;
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.tabs {
    margin: 0;
    padding: 10px 20px;
    color: #b0b4be;
    text-decoration: none;
    cursor: pointer;
}

.active-link {
    background-color: #b0b4be;
    color: #414f6b;
    text-decoration: underline;
}

#mountain1 {
    background-color: #fefeff;
    background-image: url("../assets/img/tab1-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#mountain2 {
    background-color: #fefeff;
    background-image: url("../assets/img/tab2-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab-content {
    max-width: 1000px;
    height: 400px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 180px;
}

.schedule-container {
    background-color: rgba(254, 254, 255, 70%);
    padding: 20px 30px;
    width: 250px;
}

.title {
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #414f6b;
}

.schedule-table {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*accordion*/
@media screen and (min-width: 651px) {
    .accordion-section {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .tab-section {
        display: none;
    }
}

.accordion {
    max-width: 550px;
    background-color: #414f6b;

}

.accordion-item {
    width: 100vw;
    background-color: #b0b4be;
    border-bottom: #fefeff 1px solid;
}

.content1 {
    display: flex;
    justify-content: center;
    background-color: #fefeff;
    background-image: url("../assets/img/tab1-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.content2 {
    display: flex;
    justify-content: center;
    background-color: #fefeff;
    background-image: url("../assets/img/tab2-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.accordion-tab {
    list-style-type: none;
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    color: #414f6b;
}

.accordion-tab::after {
    content: "\002b";
}

.accordion-tab.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*footer*/
.footer-section {
    background-color: #414f6b;
}

.footer-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
    opacity: .2;
}

.footer-la {
    color: #fefeff;
    font-size: 27px;
    margin: 0 10px -10px;
}

.footer-mtn {
    color: #fefeff;
    font-size: 29px;
    margin: -10px 10px 0;
}

.copyright {
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fefeff;
}
